<?xml version="1.0" encoding="utf-8"?>

<configuration>

	<system.serviceModel>

		<bindings>

			<netTcpBinding>

				<binding name="ppgTcpBinding"
						 transferMode="Streamed"
						 maxReceivedMessageSize="20971520">

					<security mode="None"/>

				</binding>

			</netTcpBinding>

		</bindings>

		<client>

			<endpoint
				name="GalaxyPPGService"
				address="net.tcp://localhost:9100/PPGService"
				binding="netTcpBinding"
				bindingConfiguration="ppgTcpBinding"
				contract="GalaxyPPG.IGalaxyPPGService"/>

		</client>

	</system.serviceModel>

</configuration>