<?xml version="1.0" encoding="utf-8"?>

<configuration>

	<appSettings>

		<add key="HrMinBpm" value="30"/>
		<add key="HrMaxBpm" value="220"/>
		<add key="AccMotionThreshold" value="15"/>
		<add key="IbiOutOfRangePct" value="0.25"/>

		<add key="PpgMinSignalThreshold" value="1000"/>
		<add key="WeakPpgConsecutiveRows" value="3"/>

	</appSettings>

	<system.serviceModel>

		<bindings>

			<netTcpBinding>

				<binding name="ppgTcpBinding"
						 transferMode="Streamed"
						 maxReceivedMessageSize="20971520"
						 receiveTimeout="00:05:00"
						 sendTimeout="00:05:00"
						 openTimeout="00:01:00"
						 closeTimeout="00:01:00">

					<security mode="None"/>

				</binding>

			</netTcpBinding>

		</bindings>

		<services>

			<service name="GalaxyPPG.GalaxyPPGService">

				<host>

					<baseAddresses>
						<add baseAddress="net.tcp://localhost:9100/"/>
					</baseAddresses>

				</host>

				<endpoint
					address="PPGService"
					binding="netTcpBinding"
					bindingConfiguration="ppgTcpBinding"
					contract="GalaxyPPG.IGalaxyPPGService"/>

			</service>

		</services>

	</system.serviceModel>

</configuration>